@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#instructions {
  max-width: 50vw;
}

#instructions h3 {
  font-size: 23px;
}

#instructions h3,
#instructions ul {
  margin-top: 1rem;
}

#instructions li {
  margin-top: 0.5rem;
  font-size: 18px;
}

#start {
  padding: 10px;
  margin-top: 1rem;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

#grid {
  display: grid;
  grid-gap: 3px;
  background: #d5d5d5;
  padding: 3px;
}

.grid-item {
  background: #fff;
  cursor: pointer;
}

.color-palette-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

#clear {
  margin-top: 10px;
  padding: 5px 10px;
}
